<mat-list-item>
  <mat-checkbox *ngIf="!state" (click)="changeTodoState.emit()"></mat-checkbox>
  <a matLine [routerLink]="['/todos', id]">
    <h4 [ngClass]="todoClasses">{{ title }}</h4>
  </a>
  <mat-icon *ngIf="state" style="color:grey">check</mat-icon>
</mat-list-item>
