<mat-card *ngIf="todo; else: loading" class="todo-detail-card">
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>title</mat-icon>
      <h3 mat-line>{{ todo.title }}</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>{{ todo?.state ? "done" : "clear" }}</mat-icon>
      <p mat-line>Status : {{ todo?.state ? "Done" : "To do" }}</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>short_text</mat-icon>
      <p>{{ todo?.description }}</p>
    </mat-list-item>
  </mat-list>
  <mat-card-actions>
    <a mat-button routerLink="/todos">
      <mat-icon>arrow_back</mat-icon>
      Back to Todos
    </a>
  </mat-card-actions>
</mat-card>
<ng-template #loading>Loading todo...</ng-template>
