#main 
  padding: 20px;
.progress-bar 
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;

.toolbar
  .toolbar-spacer
     flex: 1 1 auto;

.sidebar 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .sidebar-content
    width: 200px

.nav-icon
  color: grey

.active-route 
  transition: 0.2s ease-in-out
  border: 1px dashed darkgrey