<mat-sidenav-container class="sidebar">
  <mat-sidenav #sidenav mode="side" opened class="sidebar-content">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon matListIcon class="nav-icon">home</mat-icon>
        <h3 matLine>Home</h3>
      </a>
      <a mat-list-item routerLink="/todos" routerLinkActive="active">
        <mat-icon class="nav-icon" matListIcon>list</mat-icon>
        <h3 matLine>Todo List</h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-progress-bar
      *ngIf="isFetching"
      color="warn"
      mode="indeterminate"
      class="progress-bar"
    ></mat-progress-bar>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <span>{{ title }}</span> <span class="toolbar-spacer"></span>
      <button
        class="fetch-todo"
        [disabled]="isFetching"
        color="accent"
        mat-raised-button
        (click)="reFetchTodos()"
      >
        <mat-icon>refresh</mat-icon>
        ReFetch Todos
      </button>
    </mat-toolbar>
    <div id="main"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
