<h3 *ngIf="fetching" id="loading">Loading Todos ...</h3>

<mat-list class="todo-done" *ngIf="!fetching">
  <h3 matSubheader>Done</h3>
  <mat-divider></mat-divider>
  <app-todo-item
    *ngFor="let todoDone of todosDone"
    [id]="todoDone.id"
    [state]="todoDone.state"
    [title]="todoDone.title"
    [description]="todoDone.description"
  ></app-todo-item>
</mat-list>

<mat-list class="todo-todo" *ngIf="!fetching">
  <h3 matSubheader>To Do</h3>
  <mat-divider></mat-divider>
  <app-todo-item
    *ngFor="let todo of todosToDo"
    [id]="todo.id"
    [state]="todo.state"
    [title]="todo.title"
    [description]="todo.description"
    (changeTodoState)="onChangeTodoState(todo.id)"
  ></app-todo-item>
</mat-list>

<mat-divider></mat-divider>
<button
  class="button-form-todo-dialog"
  mat-raised-button
  (click)="openDialog()"
  style="width: 100%"
  color="accent"
>
  Create a new Todo
</button>
