<h1 mat-dialog-title>Create a new Todo</h1>
<div mat-dialog-content style="overflow: initial">
  <form [formGroup]="todoForm" (ngSubmit)="createTodo()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" />
        <mat-error *ngIf="todoForm.hasError('required')"> This field is required </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </form>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="createTodo()" [disabled]="!todoForm.valid">Save</button>
  </div>
</div>
